form {
    width: 300px;
}

header h2 {
    float: left;
    margin-top: 16px;
    margin-right: 10px;
}

header {
    padding: 30px;
    display: inline-block;
    border-bottom: solid 1px #5a5a5a;
}

section {
    padding: 30px;
}

.btns_form {
    width: 600px;
    margin-top: 25px;
}